<div id="settings" class="about">
  <div class="modal-header">
    <div class="close glyphicon glyphicon-remove" ng-click="settings.close()"></div>
    <h2 class="modal-title"><span uib-tooltip="Boop" tooltip-placement="right">About Overwatch Item Tracker</span></h2>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="setting">
    </div>
    
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="settings.close()">Close</button>
  </div>
</div>
