<div id="settings" class="about">
  <div class="modal-header">
    <div class="close glyphicon glyphicon-remove" ng-click="settings.close()"></div>
    <h2 class="modal-title"><span uib-tooltip="Boop" tooltip-placement="right">About Overwatch Item Tracker</span></h2>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="setting">
      <p>Overwatch Item Tracker is a website designed to let you track new items added to Overwatch for each event. It allows you to mark items as selected so you know what you have collected and what you still need to collect, it also shows previews of every item!</p>
      <br />
      <p>Initial Design by Lalato &amp; Izzepizze on <a href="https://www.reddit.com/r/Overwatch/comments/59bo66">Reddit</a>, Site made by Js41637 and DirtDiglett</p>
    </div>
    
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="settings.close()">Close</button>
  </div>
</div>
